.card {
  width: 323px;
  min-width: 300px;
  max-width: 100%;
  scroll-snap-align: start;
  padding: 15px 14px 23px 14px;
  background: var(--dark-alt);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.imgContainer {
  position: relative;
  width: 110px;
  height: 100px;
  margin-block: 0 15px;
  border-radius: 10px;
  overflow: hidden;
}

.cardDetails h3 {
  margin-block: 0 6px;
}

.cardDetails span {
  display: block;
  margin-block: 0 24px;
  color: var(--text-alpha);
}

.iconContainer {
  width: 40.5px;
  height: 40.5px;
  padding: 12.25px 11.25px 6.25px 11.25px;
  border: 1px solid hsla(0, 0%, 100%, 0.11);
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
    max-width: 417px;
    min-width: 320px;
    padding: 16px;
  }
  .content {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }

  .cardDetails h3 {
    margin-block: 0 4px;
  }

  .cardDetails span {
    margin-block: 0 6px;
  }

  .cardDetails p {
    font-size: var(--fs-xxsm) !important;
  }

  .imgContainer {
    width: 63px;
    height: 63px;
    margin-block: 0;
  }
}
