.topChart {
  display: flex;
  align-items: center;
  overflow-x: auto;
  column-gap: 17px;
  -webkit-column-gap: 17px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.topChart::-webkit-scrollbar {
  display: none;
}

.topChart {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 1024px) {
  .topChart {
    flex-direction: column;
  }
}
